*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#f4f7fc;
}

.wrapper{
    display:flex;
}

.sidebar{
    width:250px;
    height:100vh;
    background:#0f172a;
    position:fixed;
    left:0;
    top:0;
}

.logo{
    color:white;
    text-align:center;
    padding:20px;
    border-bottom:1px solid #334155;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li a{
    display:block;
    color:white;
    text-decoration:none;
    padding:15px 20px;
}

.sidebar ul li a:hover{
    background:#1e293b;
}

.main{
    margin-left:250px;
    width:100%;
    padding:25px;
}

.navbar{
    background:white;
    padding:15px 20px;
    border-radius:10px;
    margin-bottom:20px;
    box-shadow:0 0 10px rgba(0,0,0,.05);
}

.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:white;
    flex:1;
    min-width:220px;
    padding:20px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,.05);
}

.card h2{
    margin-top:10px;
}

.chart-box{
    background:white;
    margin-top:20px;
    padding:20px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,.05);
}

table{
    width:100%;
    background:white;
    border-collapse:collapse;
    margin-top:20px;
}

table th{
    background:#2563eb;
    color:white;
}

table th,
table td{
    padding:12px;
    border:1px solid #ddd;
}

input,
select{
    width:100%;
    padding:12px;
    margin-top:10px;
    margin-bottom:15px;
    border:1px solid #ddd;
    border-radius:5px;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#660000;
    width:200px; 
    height:40px; 
    font-size:18px;
}

.form-box{
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,.05);
}

.success{
    color:green;
    font-weight:bold;
}

.danger{
    color:red;
    font-weight:bold;
}

.login-container{
    width:400px;
    background:white;
    margin:100px auto;
    padding:30px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}
